---
layout: page
title: Projects
subtitle: My open source projects
desc: My open source projects
permalink: /projects/
---

<p>
 This are some projects I've developed in the past. They are mostly written in Object Pascal/Lazarus, my preferred computer language.
 I hope they could be useful to somebody.
</p>

<div class="projects">
{% assign sorted = (site.projectinfo | sort: 'project')  %}  
{% for project in sorted %}  
{% assign loopindex = forloop.index | modulo: 3 %}  
{% if loopindex == 1 %}
<div class="grid no-gutters">
{% endif %}    
   <div class="unit one-third">
      <div class="project">
        <h4 class="project-title"><a href="{{project.URL}}">
         {% if project.icon %} <img src={{project.icon}} width="32"> {% endif %}
           {{project.subtitle}}</a>
       </h4>
        <p>{{project.excerpt}}</p>
      </div>
   </div>
{% if loopindex == 0 or forloop.last %}
 </div>
{% endif %}    
{% endfor %}  
 
</div>
