---
layout: page
title: Projects
subtitle: My open source projects
desc: My open source projects
permalink: /projects/
---

<p>
 This are some projects I've developed in th'
</p>

<div class="projects">
<div class="grid no-gutters">
 {% for project in site.projectinfo %}  
 <div class="unit one-third">
      <div class="project">
        <h4 class="project-title"><a href="{{project.project}}">
         {% if project.icon %} <img src={{project.icon}} width="32"> {% endif %}
           {{project.subtitle}}</a></h4>
        <p>{{project.excerpt}}</p>
      </div>
    </div>
 {% endfor %}  
 </div>
</div>
